{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %} 
  {{ super() }}
  404 
{% endblock%}
{% block content %}
  <div class="container signup" >
    <div class="row">
        <h2>¡ Que no te quede alguna tarea pendiente !</h2><br>
    </div>   
    <div class="row">
        <div class="col-lg-6 text-center">
            <img src="../static/images/3432203.jpg" alt="image" width="400px" height="400px">
        </div>
        <div class="col-lg-6 ">
        
         
          {{ wtf.quick_form(login_form) }} 
        </div>
       
    </div>
</div>
{% endblock %}