
<!-- <div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
      <div class="navbar-header">
          <button type="button"
                  class="navbar-toggle"
                  data-toggle="collapse"
                  data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}">
              <img src="{{ url_for('static', filename='') }}"
                   style="max-width: 20px"
                   alt="logo">
          </a>
      </div> -->
      <div class="navbar navbar-default navbar-static-top " role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle"
                        data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">
                    <p>TASKAPP</p>
                   
                </a>
                <a class="navbar-brand" href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='images/task-page.png') }}"
                         style="max-width: 50px"
                         alt="task logo">
                </a>
            </div>
            
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            
            <li><a href="{{ url_for('auth.signup') }}">Registrar nuevo usuario</a></li>
              <li><a href="{{ url_for('index') }}">Mis tareas</a></li>
            </ul>
              <ul class="nav navbar-nav navbar-right"> 
            {% if current_user.is_authenticated %}
              <li><a href="{{ url_for('auth.logout') }}">SALIR</a></li>
          {% endif %}
          </ul>
        
      </div>
  </div>
</div>